// .leftBox {
//   // background-color: blue;
//   width: 220px;
//   height: 100%;
//   overflow: hidden;
//   // border: 1px solid #945494;
//   border-top: 0px;
//   border-bottom: 0px;
// }
// .rightBox {
//   // background-color: aqua;
//   position: relative;
//   z-index: 1;
//   flex: 1;
//   width: 0px;
// }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  .divider {
    // width: 1px;
    position: relative;
    background-color: aquamarine;
  }

  .dividerCenter {
    position: absolute;
    width: 6px;
    height: auto;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    transform: translateX(-50%);
    &:hover {
      background-color: rgba(var(--el-color-primary-rgb), 0.5);
      cursor: col-resize;
    }
  }
}

.box-column {
  width: 100%;
  flex-direction: column;
  .divider {
    // height: 1px;
    width: 100%;
    position: relative;
  }
  .dividerCenter {
    height: 6px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0;
    z-index: 100;
    transform: translateY(-50%);
    &:hover {
      cursor: row-resize;
    }
  }
}
.firstBox {
  background-color: $subMenuBg;
}
.otherBox {
  flex: 1;
  position: relative;
  background-color: $subMenuBg;
  z-index: 1;
}
