.cm-menu {
  background-color: $contextMenuBg;
  border: 1px solid $contextMenuBg;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  box-sizing: border-box;
  .cm-menu-item {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    &:hover {
      color: var(--menuActiveText);
      cursor: pointer;
    }
  }
}
